<h4 class="sidebar-summary">{{localize "PF2E.Item.SidebarSummary" type=(localize "ITEM.TypeSpell")}}</h4>

<span class="item-summary">{{levelLabel}}</span>
<span class="item-summary">{{localize (lookup magicSchools data.school.value)}}</span>
<span class="item-summary">{{localize (lookup spellTypes data.spellType.value)}}</span>
<span class="item-summary">{{data.time.value}}</span>

<ol class="item-tags">
    <li class="tag">{{#with (lookup rarities data.traits.rarity.value)}}{{localize this.label}}{{/with}}</li>
    {{#each spellComponents}}
        <li class="tag">{{this}}</li>
    {{/each}}
    {{#if data.secondarycasters.value}}
        <li class="tag">{{localize "PF2E.SpellSecondaryCasters"}}</li>
    {{/if}}
    {{#if data.primarycheck.value}}
        <li class="tag">{{localize "PF2E.SpellPrimaryCheckLabel"}}</li>
    {{/if}}
    {{#if data.secondarycheck.value}}
        <li class="tag">{{localize "PF2E.SpellSecondaryChecksLabel"}}</li>
    {{/if}}
</ol>
{{#if (or data.prepared.value data.concentration.value data.ritual.value)}}
    <ol class="item-tags">
        {{#if data.prepared.value}}
            <li class="tag">{{localize "PF2E.SpellPreparedLabel"}}</li>
        {{/if}}

        {{#if data.concentration.value}}
            <li class="tag">{{localize "PF2E.SpellConcentrationLabel"}}</li>
        {{/if}}

        {{#if data.ritual.value}}
            <li class="tag">{{localize "PF2E.SpellRitualLabel"}}</li>
        {{/if}}
    </ol>
{{/if}}
<ol class="item-tags">
    {{#each traits as |trait|}}
        {{#if trait.selected}}
            <li class="tag">{{localize trait.label}}</li>
        {{/if}}
    {{/each}}
</ol>
