<div class="tab inventory" data-group="primary" data-tab="inventory">
    {{!-- <ol class="currency">
        {{#each totalTreasure as |value denomination|}}
        <li class="denomination {{denomination}}">
            <div class="currency-image"></div>
            <span>{{value.value}}</span>
        </li>
        {{/each}}
        <li class="add-coins-popup" title="{{localize 'PF2E.AddCoinsTitle'}}">
            <button type="button">+</button>
        </li>
        <li class="sell-all-treasure" title="{{localize 'PF2E.SellAllTreasureTitle'}}">
            <button type="button"><i class="fas fa-coins"></i></button>
        </li>
    </ol> --}}

    <ol class="inventory-list directory-list inventory-pane">
    {{#each actor.inventory as |section sid|}}
        <div class="inventory-header">
            <h3 class="item-name">{{section.label}}</h3>
            {{#if (eq sid "treasure")}}
                <span class="item-sell-value">{{localize "PF2E.ValueLabel"}}</span>
            {{/if}}
            <span class="item-quantity">{{localize "PF2E.QuantityLabel"}}</span>
            <span class="item-weight">{{localize "PF2E.BulkShortLabel"}}</span>
            {{#if @root.editable}}
            <div class="item-controls">
                <a class="item-control item-create" title="{{localize "PF2E.CreateItemTitle"}}" data-type="{{sid}}"><i class="fas fa-plus"></i></a>
                <a class="item-control inventory-browse" title="{{localize "PF2E.OpenInventoryBrowser"}}" data-type="{{sid}}"><i class="fas fa-search"></i></a>
            </div>
            {{/if}}
        </div>
        <ol class="item-list">
            {{#each section.items as |item itemId|}}
                {{#unless item.isInContainer}}
                    {{> systems/pf2e/templates/actors/crb-style/tabs/item-line.html item=item editable=@root.editable user=@root.user}}
                {{/unless}}
            {{/each}}
        </ol>
    {{/each}}
    </ol>
</div>
