<form class="{{cssClass}} crb-style limited" autocomplete="off">
    <aside>
        <img class="logo" src="systems/pf2e/assets/pathfinder_logo.webp" alt="Pathfinder Second Edition"/>

        <div class="sidebar">
            <div class="profile-img" style="background-image: url('{{actor.img}}');">
                <div class="health-bar">
                    <div class="bar" style="width: {{percentage data.attributes.hp.value data.attributes.hp.max}}%;"></div>
                </div>
            </div>
            <h4 class="plaque">{{localize 'PF2E.SidebarAppearanceLabel'}}</h4>
            <ul class="stats">
                {{#if data.details.ancestry.value}}<li>{{data.details.ancestry.value}}</li>{{/if}}
                {{#if data.details.gender.value}}<li>{{data.details.gender.value}}</li>{{/if}}
                {{#if data.details.height.value}}<li>{{data.details.height.value}}</li>{{/if}}
                {{#if data.details.weight.value}}<li>{{data.details.weight.value}}</li>{{/if}}
            </ul>
        </div>
    </aside>

    <header class="char-header">
        <div class="char-details">
            <h1 class="char-name"><span class="non-editable">{{actor.name}}</span></h1>
        </div>
    </header>

    <nav class="sheet-navigation" data-group="primary">
        <span class="navigation-title">{{localize "PF2E.Biography"}}</span>
        <a class="item active" data-tab="character" data-tab-title="{{localize 'PF2E.Biography'}}">
            <i class="fas fa-book-reader"></i>
        </a>
        <a class="item" data-tab="effects" data-tab-title="{{localize 'PF2E.TabEffectsLabel'}}">
            <i class="fas fa-star"></i>
        </a>
    </nav>

    <section class="sheet-body">
        <section class="sheet-content">
            <!-- Character -->
            <div class="tab character" data-group="primary" data-tab="character">
                <div class="character-bio">
                    <div class="bio">{{{enrichHTML data.details.biography.public}}}</div>
                    <footer>
                        <p>
                        This system for FoundryVTT uses trademarks and/or copyrights owned
                        by Paizo Inc., which are used under Paizo's Community Use Policy. We
                        are expressly prohibited from charging you to use or access this
                        content. This system for FoundryVTT is not published, endorsed, or
                        specifically approved by Paizo Inc. For more information about
                        Paizo's Community Use Policy, please visit
                        <a href="https://paizo.com/community/communityuse">paizo.com/communityuse</a>.
                        For more information about Paizo Inc. and Paizo products, please visit
                        <a href="https://paizo.com/">paizo.com</a>.
                        </p>
                    </footer>
                </div>
            </div>

            <!-- Effects -->
            <div class="tab actions actions-pane" data-group="primary" data-tab="effects">
                <ol class="actions-list inventory-list directory-list strikes-list">
                    <li class="item action-header">
                        <h3 class="item-name pf-heading pf-actions">{{localize 'PF2E.ConditionsLabel'}}</h3>
                    </li>
                    {{#each data.effects.conditions as |item ii|}}
                    <li class="item expandable" data-item-id="{{item.id}}" data-action-index="{{ii}}">
                        <div class="item-name rollable">
                            <div class="item-image action-strike" style="background-image: url({{item.img}})">
                                <i class="fas fa-dice-d20"></i>
                            </div>
                            <h4 class="action-name">{{item.name}}{{#unless item.active}} <span>(Inactive)</span>{{/unless}}</h4>
                        </div>
                        <div class="item-summary">
                            <div class="item-description">
                                <p>{{{enrichHTML item.description}}}</p>
                            </div>
                            {{#if item.references}}
                            <div class="condition-references">
                                {{#if item.parents.length}}
                                <div class="condition-parents">
                                    <p>Applied From:{{#each item.parents as |parent|}} <span data-item-id="{{parent.id}}">{{{enrichHTML parent.text}}}</span>{{/each}}</p>
                                </div>
                                {{/if}}
                                {{#if item.children.length}}
                                <div class="condition-children">
                                    <p>Also Applied:{{#each item.children as |child|}} {{{enrichHTML child.text}}}{{/each}}</p>
                                </div>
                                {{/if}}
                                {{#if item.overrides.length}}
                                <div class="condition-overriding">
                                    <p>Overriding:{{#each item.overrides as |o|}} {{{enrichHTML o.text}}}{{/each}}</p>
                                </div>
                                {{/if}}
                                {{#if item.overriddenBy.length}}
                                <div class="condition-overridden">
                                    <p>Overridden by:{{#each item.overriddenBy as |o|}} {{{enrichHTML o.text}}}{{/each}}</p>
                                </div>
                                {{/if}}
                            </div>
                            {{/if}}
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </section>
    </section>
</form>
