<div class="pf2e chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
        <h3>{{item.name}}</h3>
    </header>
    {{#if (or data.traits data.properties)}}
        <div class="tags">
            {{#each data.properties as |property|}}
                <span class="tag tag_alt">{{localize property}}</span>
            {{/each}}
            {{#each data.traits as |trait|}}
                {{#unless trait.mystified}}
                    <span class="tag" title="{{localize trait.description}}">{{localize trait.label}}</span>
                {{/unless}}
            {{/each}}
        </div>
    {{/if}}
    <div class="card-content">{{{data.description.value}}}</div>
</div>
