$faded-color: #7a7971;
$color: #323232;
$color-disabled: #b6b6b6;
$value-color: #000000;
$armor-color: #2A8FBD;
$health-color: #A40802;
$attack-button-color: #171f69;
$damage-button-color: #5e0000;
$primary-accent: #5e0000;
$secondary-accent: #171f69;
$light-text: #f5efe0;
$common: #323232;
$uncommon: #98513d;
$rare: #002664;
$unique: #54166e;
$positive-modifier: #009988;
$negative-modifer: #cc3311;

@import 'forms';
@import 'data-entry';

.npc-sheet {

    @import 'inventory';
    @import 'spells';

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: $color;
    font-family: "Signika", sans-serif;

    .npc-sheet-header {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;

        #name {
            justify-content: space-between;

            .name-value {
                margin-left: 8px;
                margin-right: 8px;
                height: 32px;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: bold;
            }

            .level-container {
                margin-left: 4px;
                display: flex;
                flex: 0 0 auto;
                flex-direction: row;
                align-items: flex-end;

                .level-label {
                    flex: 1 0 auto;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-right: 4px;
                }

                input {
                    flex: 0 0 32px;
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: bold;
                    height: 32px;
                    width: 32px;
                }
            }
        }

        .traits-list-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            margin: 0px;
            padding: 4px;

            .traits-list-item {
                flex: auto 0 0;
                margin-left: 4px;
                margin-right: 4px;

                text-transform: uppercase;
                font-weight: bold;
            }

            .traits-list-item:first-child {
                margin-left: 0px;
                margin-right: 4px
            }

            .traits-list-item:last-child {
                margin-left: 4px;
                margin-right: 0px;
            }
        }
    }

    .side-bar {
        flex: 160px 0 0;
        height: 100%;
        overflow: hidden scroll;

        .side-bar-section {
            display: flex;
            flex: auto;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .controls {
                padding-right: 4px;
            }
        }

        .side-bar-section-header {
            display: flex;
            width: 100%;
            font-size: 1.0rem;
            border-bottom: 1px solid;
            border-color: $faded-color;
            margin-top: 10px;
            margin-bottom: 0px;

            .side-bar-label {
                display: flex;
                flex: auto;
                flex-direction: row;
                align-items: flex-start;

                .fa {
                    font-size: 0.8rem;
                }

                h4 {
                    font-size: 0.8rem;
                    margin-bottom: 0px;
                    padding-left: 6px;
                }
            }
        }

        .side-bar-section-content {
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: 2px;
        }

        .armor-section {
            .armor-label {
                color: $armor-color;
            }

            .armor-value {
                flex: 0px;
                text-align: right;
                font-weight: bold;
                color: $value-color;
                padding-right: 4px;
            }
        }

        .shield-section {
            .shield-label {
                display: flex;
                flex: auto;
                flex-direction: row;
                align-items: center;
                color: $armor-color;
            }

            .shield-value {
                display: flex;
                flex: auto;
                flex-direction: row;
                align-items: flex-end;
                text-align: right;
                font-weight: bold;
                color: $value-color;

                #shield-current {
                    flex: 0px;
                    font-weight: bold;
                    color: $value-color;
                    text-align: right;
                    width: 50px;
                }

                #shield-max {
                    flex: 0px;
                    align-self: center;
                    font-weight: bold;
                    color: $value-color;
                    text-align: left;
                }
            }

            .shield-details {
                display: flex;
                flex: auto;
                flex-direction: row;
                justify-content: flex-start;
                align-items: baseline;

                .label {
                    flex: 0;
                    font-weight: bold;
                }

                .value {
                    flex: auto;
                    font-weight: normal;
                    margin-left: 6px !important;
                }
            }

            &.broken  {
                color: rgba(black, 0.4);

                .shield-label {
                    color: rgba(black, 0.4);

                    h4 {
                        text-decoration: line-through;
                    }
                }

                .shield-value {
                    color: rgba(black, 0.4);

                    #shield-current {
                        color: rgba(black, 0.4);
                    }

                    #shield-max {
                        color: rgba(black, 0.4);
                    }
                }
            }
        }

        .health-section {
            .side-bar-label {
                color: $health-color;
                align-items: center;
            }

            .health-value {
                display: flex;
                flex-direction: row;
                color: $value-color;
                flex: 0;
                margin-left: auto;

                input {
                    color: $value-color;
                    &:first-child {
                        width: 36px;
                        text-align: right;
                        padding-right: 3px;
                    }
                    &:last-child {
                        font-weight: bold;
                        text-align: center;
                        &.lt10 {
                          width: 8px;
                        }
                        &.lt100 {
                          width: 24px;
                        }
                        &.lt1000 {
                          width: 36px;
                        }
                    }
                }
                span {
                    display: flex;
                    text-align: center;
                }
            }
        }

        #speed-section {
            text-align: center;

            #walk-speed {
                font-size: 1.2rem;
            }

            #other-speeds {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;
            }
        }

        #saves {
            margin-top: 12px;
            display: flex;
            flex-direction: row;
            width: 100%;
            flex: 1 0 auto;
            font-size: 1.1rem;
        }

        .save-container {
            display: flex;
            flex-direction: column;
            text-align: center;
            label {
                font-weight: 600;
            }
            input.modifier {
                text-align: center;
            }
            span.plus {
                &::before {
                    left: -15px;
                    top: -24px;
                }
                &.lt10::before {
                    left: -10px;
                }
            }
        }
    }

    .sheet-body {
        flex: auto;
        .tab {
            &:not(.notes) {
                overflow: hidden scroll;
            }

            &.notes {
                > .flexcol {
                    height: 100%;

                    > .flexrow {
                        flex: 0;

                        .identification-skills {
                            ul {
                                display: inline;
                                list-style-type: none;
                                padding: 0;

                                li {
                                    display: inline;
                                    &:not(:last-of-type):after {
                                        content: ",";
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section-body, .save-container {
        input.modifier {
            display: inline;
            text-align: right;

            &.positive-modifier {
                color: $positive-modifier;
            }

            &.negative-modifier {
                color: $negative-modifer;
            }
        }
        span.plus {
            display: none;
            height: 0;
            &::before {
                content: "+";
                font-weight: normal;
                position: relative;
            }
        }
        input.modifier.not-negative:not(:focus) {
            + span.plus {
                display: inline;
            }
        }
    }

    .controls {
        font-size: 0.8rem;
        .chat {
            margin-right: 6px;
        }
    }

    .disabled {
        color: $color-disabled !important;
        border-color: $color-disabled !important;
    }

    .disabled:hover {
        color: $color !important;
        border-color: $faded-color !important;
    }

    .trait {
        flex: auto 0 0;
        padding: 4px;
        background: #5d0000;
        border: 2px solid #d8c384;
        color: $light-text;
        text-transform: uppercase;
    }

    .effects-list {
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .separator {
            flex: 0 0 1px;
            height: 32px;
            margin-right: 4px;
            border-left: 2px solid $color;
        }

        > .effect {
            display: flex;
            flex: 0 0 32px;
            height: 32px;
            margin-right: 4px;
            margin-bottom: 4px;
            border-bottom: none !important;

            .item-image {
                background-size: cover;
                border: 1px solid $color;
                border-bottom: 1px solid $color;
                border-radius: 3px;
                width: 32px;
            }

            .item-image:hover {
                border: 1px solid $light-text;
                border-radius: 3px;
            }
        }
    }

    .actions-options {
        .actions-option {
            display: flex;
            align-items: center;
            width: 100%;

            label {
                width: 100%;

                * {
                    display: inline;
                    vertical-align: middle;
                }

                input {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .actions-list {
        align-items: baseline;
        padding: 0px;
        margin: 0px;
        width: 97%;

        .action {
            display: flex;
            flex: 1 0 46%;
            margin-left: 6px;
            margin-right: 6px;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            margin-top: 6px;

            .action-header {
                display: flex;
                flex: 1 0 auto;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border-bottom: 1px solid $faded-color;

                .action-name {
                    display: flex;
                    flex: auto;
                    font-size: 0.9rem;

                    h4 {
                        margin: 0px;
                        margin-bottom: 0px;
                    }

                    .action-traits {
                        margin-left: 12px;
                    }
                }
            }

            .action-body {
                display: flex;
                flex: auto;
                width: 100%;
                justify-content: flex-start;
                align-items: flex-start;
                padding-top: 4px;
                padding-bottom: 4px;
                flex-direction: column;

                .sub-section {
                    display: flex;
                    width: 100%;
                    flex: auto;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: wrap;

                    h4 {
                        margin-left: 12px;
                        margin-right: 12px;
                    }
                }

                .btn {
                    width: auto !important;
                    cursor: pointer;
                    margin: 0 4px 4px 0;
                    padding: 0 12px;
                    font-size: 10px;
                    line-height: 16px;
                    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(255, 255, 255, 0.2);
                    background: black;
                    color: $light-text;
                    text-align: center;
                    white-space: nowrap;
                    border-radius: 3px;
                    border: none;

                    &:first-child {
                        margin-left: 0px;
                    }

                    &:hover {
                        box-shadow: none;
                        text-shadow: 0 0 2px white;
                    }
                }

                .action-detail {
                    .traits-list {
                        display: flex;
                        flex: auto;
                        width: 100%;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: baseline;
                        border-bottom: 1px solid $faded-color;
                        padding-bottom: 6px;
                    }
                }
            }
        }
    }

    .attacks-list {
        display: flex;
        flex: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        padding: 0px;
        margin: 0px;
        width: 100%;

        .attack {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 6px;
            margin-right: 6px;

            .attack-header {
                display: flex;
                flex: 1 0 auto;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border-bottom: 1px solid $faded-color;

                .attack-name {
                    display: flex;
                    flex: auto;
                    font-size: 0.9rem;

                    h4 {
                        margin: 0px;
                        margin-bottom: 0px;
                    }
                }
            }

            .attack-body {
                display: flex;
                flex: auto;
                width: 100%;
                justify-content: flex-start;
                align-items: flex-start;
                padding-top: 4px;
                padding-bottom: 4px;
                flex-direction: column;

                .sub-section {
                    display: flex;
                    width: 100%;
                    flex: auto;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: wrap;

                    h4 {
                        margin-left: 12px;
                        margin-right: 12px;
                    }
                }

                .btn {
                    width: auto !important;
                    cursor: pointer;
                    margin: 0 4px 4px 0;
                    padding: 0 12px;
                    font-size: 10px;
                    line-height: 16px;
                    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(255, 255, 255, 0.2);
                    background: $attack-button-color;
                    color: $light-text;
                    text-align: center;
                    white-space: nowrap;
                    border-radius: 3px;
                    border: none;

                    &:first-child {
                        margin-left: 0px;
                    }

                    &:hover {
                        box-shadow: none;
                        text-shadow: 0 0 2px white;
                    }
                }

                .attack-button {
                    background-color: $attack-button-color;
                }

                .damage-button {
                    background-color: $damage-button-color;
                }

                .critical-button {
                    background-color: $damage-button-color;
                }

                .attack-detail {
                    .traits-list {
                        display: flex;
                        flex: auto;
                        width: 100%;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: baseline;
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }

    .expandable {
        display: none;
    }

    .expanded {
        display: block;
    }

    .labelled-field {
        display: flex;
        flex: auto;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;

        label {
            min-width: 22px;
            font-weight: bold;
        }

        input[type="text"], input[type="number"] {
            flex: auto;
            font-weight: normal;
            margin-left: 6px !important;
        }
    }

    #top-sections {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        #skills {
            flex: 3;
            align-self: stretch;
        }

        #senses {
            flex: 2;

            #perception {
                width: 100%;
                label {
                    flex-basis: 5em;
                }
                input {
                    flex: 0 0 24px;
                }
                span.plus::before {
                  left: -22px;
                }
                span.plus.lt10::before {
                  left: -15px;
                }
            }
        }

        #ability-scores {
            flex: 2;
            flex-direction: column;

            .ability-scores-list {
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                label {
                    padding-left: 8px;
                }
                input {
                    flex: 0 0 24px;
                }
                span.plus::before {
                  left: -21px;
                }
                span.plus.lt10::before {
                  left: -15px;
                }
            }
        }
    }

    .section-container {
        display: flex;
        flex-direction: column;
        padding: 4px 6px 0 6px;

        .section-header {
            display: flex;
            flex: 0;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            border: 1px solid $primary-accent;
            border-radius: 3px 3px 0px 0px;
            background: $primary-accent;
            text-align: left;
            color: $light-text;
            font-size: 0.8rem;
            padding: 4px 8px;

            h4 {
                flex: auto;
                margin-bottom: 0px;
                text-transform: uppercase;
            }
        }

        .section-body {
            display: flex;
            flex: auto;
            flex-wrap: wrap;
            width: 100%;
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;
            padding: 4px;
            border: 1px solid $primary-accent;
            border-radius: 0px 0px 3px 3px;
        }
    }

    .skills-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    select {
        flex: auto 0 0;
        padding: 4px !important;
        height: auto !important;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;

    }

    .alignment-select {
        background: #566193 !important;
        border: 2px solid #d8c384 !important;
        color: white !important;
    }

    .size-select {
        background: #3a7a58 !important;
        border: 2px solid #d8c384 !important;
        color: white !important;
    }

    .rarity-select {
        border: 2px solid #d8c384 !important;
        color: white !important;

        &.common {
            background: $common !important;
        }
        &.uncommon {
            background: $uncommon !important;
        }
        &.rare {
            background: $rare !important;
        }
        &.unique {
            background: $unique !important;
        }
    }

    .adjustment-select {

        .adjustment {

            &.active {
                background-color: $primary-accent !important;
                color: $light-text;
            }

            &:not(.active) {
                background-color: $faded-color !important;
                color: $light-text !important;
            }
        }
    }

    .npc-body {
        display: flex;
        flex: auto;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow-y: hidden;
    }

    .notes-text {
        width: 100%;
        height: 100%;
        overflow-y: hidden;

        .editor {
            padding: 0 8px;
            height: 100%;
        }
    }

    &.dead {
        .profile {
            background-size: cover;
            background-color: #dbd9cd;
            box-sizing: border-box;
            border: 1px solid black;
            border-radius: 2px;
            > img {
                border: none;
                width: 100%;
                opacity: 0.33;
            }
        }
        h2.name {
            margin-top: 3px;
            text-align: center;
            border-bottom: none;
        }
    }
}
